body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #4CAF50;
    text-align: center;
    margin-top: 40px;
}

a {
    color: #008080;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #008080;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #008080;
    color: #fff;
}

/* Add some spacing between links */
a + a {
    margin-top: 20px;
}